body {
  font-family: Arial, sans-serif;
  margin: 0;
  text-align: center;
  background: #121212;
  color: #e0e0e0;
  height: 100%;
}

#waveform {
  width: 100%;
  height: 125px;
  background: #1e1e1e;
  border-bottom: 10px solid #333;
}

.container {
  background: #333;
  color: #e0e0e0;
  padding: 20px;
  border-top: 10px solid #cc7a00;
  /* size: 100%; */
  margin-top: 20px;
}

html, body {
  height: 100%;
  margin: 0;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;          
}


#compression-slider {
  width: 80%;
  margin: 10px 0;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: white;
  border-radius: 4px;
  transition: background 0.3s ease;
}

#compression-slider:hover {
  background: white;
}

#upload {
  margin-top: 10px;
  padding: 10px 20px;
  background: #cc7a00;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

#playpause {
  margin-top: 10px;
  padding: 10px 20px;
  background: #219150;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.stats {
  margin-top: 20px;
  font-size: 18px;
}

.stats strong {
  color: #cc7a00;
}

#audioplayer {
  margin-top: 20px;
}
